@using StationeryShop.Models
@model product
@{
    DBContext db = new DBContext();
    var categ = db.categories.ToList();
}
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Content/admin/plugin/summernote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="~/Content/admin/plugin/summernote/summernote-bs4.min.css" />
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                tabsize: 2,
                height: 300,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ]
            });
        });

    </script>
}
<style>
    label {
        float: left;
        width: 100px;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <h1>Thêm sản phẩm</h1>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse"
                            title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="remove"
                            title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <form method="post" name="pro" action="/Admin/Product/Create" enctype="multipart/form-data">
                    <p>
                        <label>Ảnh:</label>
                        <input type="file" name="avt" />
                    </p>
                    <p>
                        <label>Thư mục:</label>
                        <select name="cat_id" class="form-control">
                            @foreach (var item in categ)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>

                    </p>
                    <p>
                        <label>Tên:</label>
                        <input type="text" name="name" class="form-control"/>
                    </p>
                    <p>
                        <label>Xuất xứ:</label>
                        <input type="text" name="origin" class="form-control"/>
                    </p>
                    <p>
                        <label>Giá bán:</label>
                        <input type="text" name="price" class="form-control"/>
                    </p>
                    <p>
                        <label>Số lượng còn:</label>
                        <input type="text" name="amount" class="form-control"/>
                    </p>
                    <p>
                        <label>Đơn vị tính:</label>
                        <input type="text" name="unit" class="form-control"/>
                    </p>
                    <p>
                        <label>Mô tả:</label>
                        <textarea name="description" id="summernote"></textarea>
                    </p>
                    <p>@ViewBag.Error</p>
                    <p>
                        <input type="submit" value="Create" class="btn btn-primary" />

                    </p>
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>



