@{
	ViewBag.Title = "About";
}

<div class="bg-white p-3">
	<h2 class="heading">Về chúng tôi</h2>
	<div class="cot_c">
		<div class="noidung">
			<h2 dir="ltr" style="line-height: 1.755; margin-top: 6pt; margin-bottom: 6pt; text-align: justify;">&nbsp;</h2>

			<p style="text-align: center;"><iframe align="middle" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="360" scrolling="no" src="https://www.youtube.com/embed/UB-TwUlBvXg" width="400"></iframe></p>

			<p style="text-align: justify;">&nbsp;</p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">1. Tổng Quan</span></span></span></strong></p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;"><strong>Công ty TNHH MTV An Lộc Việt </strong>được thành lập từ tháng 04/2013 ngành nghề kinh doanh chính là phân phối sỉ và lẻ ngành hàng <strong>Văn phòng phẩm - Giấy in văn phòng</strong>. </span></span></span></p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Đến tháng 06/2020, An Lộc Việt đã mạnh dạn phát triển thêm một số sản phẩm dịch vụ mới và đã được nhiều khách hàng đón nhận và tin dùng như :&nbsp;</span></span></span></p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<ul>
				<li style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; background: white;"><span style="line-height:3.0;"><font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;">Dịch vụ nạp mực - sửa chữa máy in văn phòng.</span></font></span></li>
				<li style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; background: white;"><span style="line-height:3.0;"><font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;">​<font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;">Phân phối dụng cụ bảo hộ lao động.<font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;">​</span></font></span></font></span></font></span></li>
				<li style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; background: white;"><font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;"><span style="line-height:2.0;"><span style="line-height:3.0;">Gia công</span> các sản phẩm q</span>uà tặng doanh nghiệp.</span></font></li>
			</ul>

			<p style="text-align:center"><img alt="ve chung toi" height="460" src="https://www.anlocviet.vn/upload/images/bai-viet.png" width="640"></p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; background: white;"><strong><font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;">Tính đến tháng 02/2021, mạng lưới chi nhánh An Lộc Việt trên cả nước gồm :&nbsp;</span></font></strong></p>

			<p style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; background: white;">&nbsp;</p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><u><span style="color:black;">I. Văn Phòng Giao dịch tại Tp.HCM:</span></u></strong></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Địa chỉ: 30 Kha Vạn Cân, Hiệp Bình Chánh, Thủ Đức, Tp.HCM.</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Tổng đài : (028) 7300 7738</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- E-mail: &nbsp;</span><a href="mailto:vppanlocviet@gmail.com">vppanlocviet@gmail.com</a><span style="color:black;"> hoặc </span><a href="mailto:anlocvietvpp@gmail.com">anlocvietvpp@gmail.com</a></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><u><span style="color:black;">II. Văn phòng giao dịch tại Hà Nội:</span></u></strong></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Địa chỉ: </span><span style="color:#000000;">90, Ngõ 553 Giải Phóng, Phường Giáp Bát, Quận Hoàng Mai</span><span style="color:black;">, Tp. Hà Nội.</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Tổng đài: (024) 7300 7738</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- E-mail: </span><a href="mailto:vppanlocviet@gmail.com">anlocvietmienbac@gmail.com</a></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><u><span style="color:black;">III Văn Phòng Giao dịch tại Bình Dương: </span></u></strong></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Địa chỉ: 58/16 Đường DX-085, Phường Hiệp An, Tp.Thủ Dầu Một, Tỉnh Bình Dương </span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Tổng đài: 0868 133 466</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- E-mail: </span><a href="mailto:anlocvietbinhduong@gmail.com"><span style="color:mediumblue;">anlocvietbinhduong@gmail.com</span></a></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><u><span style="color:black;">IV Văn Phòng Giao dịch tại Đồng Nai: </span></u></strong></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Địa chỉ: 446/85 Hoàng Bá Bích, Phường Long Bình, TP. Biên Hòa</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Tổng đài: 0868 077 266</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- E-mail: </span><a href="mailto:anlocvietdongnai@gmail.com">anlocvietdongnai@gmail.com</a></span></span></p>

			<p style="font-size:14px;">&nbsp;</p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><strong><u><span style="color:black;">V Văn Phòng Giao dịch tại Long An: </span></u></strong></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Địa chỉ: 85A Quốc Lộ 1A, Phường 5, Tp.Tân An</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- Tổng đài: 0868 168 466</span></span></span></p>

			<p style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="font-size:18px;"><span style="font-family:times new roman,times,serif;"><span style="color:black;">- E-mail: </span><a href="mailto:anlocvietlongan@gmail.com">anlocvietlongan@gmail.com</a></span></span></p>

			<p style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; background: white;"><font color="#000000" face="times new roman, serif"><span style="font-size: 18.6667px;">&nbsp;</span></font></p>

			<p style="font-size:14px;"><strong><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">2. Sứ Mệnh</span></span></strong></p>

			<p style="font-size:14px;">&nbsp;</p>

			<p style="font-size:14px;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Là đơn vị cung cấp tổng thể các sản phẩm dịch vụ phụ trợ nhằm tối đa hóa lợi ích cho khách hàng và doanh nghiệp.</span></span></p>

			<p style="font-size:14px;">&nbsp;</p>

			<p style="font-size:14px;"><strong><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">3. Tầm nhìn</span></span></strong></p>

			<p style="font-size:14px;">&nbsp;</p>

			<p style="font-size:14px;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Mục tiêu trở thành Siêu thị tiện lợi cho doanh nghiệp với nhiều ngành hàng sử dụng cho Văn phòng đến Nhà máy.</span></span></p>

			<p style="font-size:14px;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Các nhóm sản phẩm An Lộc Việt phục vụ gồm : giấy in, văn phòng phẩm, khắc dấu, bảo hộ lao động, đồng phục, quà tặng doanh nghiệp, máy văn phòng, linh kiện và vật tư văn phòng.</span></span></p>

			<p style="font-size:14px;">&nbsp;</p>

			<p style="font-size:14px;"><strong><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">4. Giá trị cốt lõi</span></span></strong></p>

			<p style="font-size:14px;">&nbsp;</p>

			<ul>
				<li style="font-size: 14px;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;"><strong>Khách hàng : </strong>Mọi hoạt động của An Lộc Việt đều hướng đến sự hài lòng của khách hàng và lấy khách hàng làm trọng tâm. Thực hiện theo bộ quy tắc ứng xử “Ba xin: Xin chào – Xin lỗi – Xin cảm ơn” và “Ba luôn: Luôn mỉm cười – Luôn lắng nghe – Luôn giúp đỡ”.</span></span></li>
			</ul>

			<p style="font-size:14px;">&nbsp;</p>

			<ul>
				<li style="font-size: 14px;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;"><strong>Cam kết : </strong>Từ sản phẩm đến dịch vụ bao gồm tư vấn, bán hàng, và sau bán hàng là những sản phẩm, dịch vụ hoàn chỉnh nhất.</span></span></li>
			</ul>

			<p style="font-size:14px;">&nbsp;</p>

			<ul>
				<li style="font-size: 14px;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;"><strong>Chính trực : </strong>An Lộc Việt hoạt động theo tôn chỉ trung thực và kỷ luật đạo đức kinh doanh, không chỉ nâng cao uy tín, chất lượng sản phẩm dịch vụ mà còn tạo nên sự công bằng trong môi trường làm việc của công ty.</span></span></li>
			</ul>

			<p style="font-size:14px;">&nbsp;</p>

			<div style="text-align:center">
				<figure class="caption" style="display:inline-block">
					<img alt="Công ty TNHH MTV An Lộc Việt " height="366" src="https://www.anlocviet.vn/upload/images/IMG0469_08690.jpg" width="700">
					<figcaption>Công ty TNHH MTV An Lộc Việt</figcaption>
				</figure>
			</div>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">5. Tại sao nên lựa chọn An Lộc Việt</span></span></span></strong></p>

			<p style="margin-bottom:0in;margin-bottom:.0001pt;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<ul>
				<li style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Kinh nghiệm:</span></span></span></strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;"> Hơn 08 năm kinh nghiệm phục vụ các khách hàng doanh nghiệp với ngành hàng phân phối sỉ và lẻ văn phòng phẩm và giấy in văn phòng.</span></span></span></li>
			</ul>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">​</span></span></span></p>

			<ul>
				<li style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Khách hàng:</span></span></span></strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;"> Hơn 5.000 khách hàng thường xuyên sử dụng dịch vụ và đã hài lòng gồm: Hệ thống nhà sách,&nbsp;</span></span></span><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">cửa hàng văn phòng phẩm, công ty, nhà máy, xí nghiệp trên toàn quốc.</span></span></span></li>
			</ul>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">​</span></span></span></p>

			<ul>
				<li style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Sản phẩm: </span></span></span></strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">sản phẩm dịch vụ cực kỳ đa dạng và chuẩn mực&nbsp;với mong muốn đối tượng khách hàng doanh nghiệp luôn sẽ tìm thấy sản phẩm - dịch vụ mình mong muốn một cách nhanh chóng và với giá cả tốt nhất.</span></span></span></li>
			</ul>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">​</span></span></span></p>

			<ul>
				<li style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Mạng lưới: </span></span></span></strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">An Lộc Việt hiện đã có mặt tại 05 tỉnh thành trên cả nước gồm : Tp.HCM, Hà Nội, Bình Dương, Long An, Đồng Nai không chỉ giúp Chúng tôi phục vụ được các khách hàng tại địa phương mà còn đáp ứng tốt nhất việc phục vụ cho các đối tượng khách hàng lớn có nhiều điểm giao dịch trên cả nước một cách nhanh chóng.</span></span></span></li>
			</ul>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;">&nbsp;</p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">6. Sản phẩm dịch vụ chính</span></span></span></strong></p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<ul>
				<li style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; text-align: justify; background: white;"><span style="line-height:3.0;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Văn phòng phẩm - Giấy in văn phòng</span></span></span></span></li>
				<li style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; text-align: justify; background: white;"><span style="line-height:3.0;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Sửa chữa, nạp mực máy in, mực in<span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">​</span></span></span></span></span></span></span></li>
				<li style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; text-align: justify; background: white;"><span style="line-height:3.0;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Bảo hộ lao động<span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">​</span></span></span></span></span></span></span></li>
				<li style="margin-top: 6pt; margin-right: 0in; margin-bottom: 6pt; text-align: justify; background: white;"><span style="line-height:3.0;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Quà tặng doanh nghiệp</span></span></span></span></li>
			</ul>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;text-align:justify;background:white;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">​</span></span></span></p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;"><strong><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">7. Khách Hàng Tiêu Biểu</span></span></span></strong></p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="text-align:center"><img alt="khach hang tieu bieu" height="569" src="https://www.anlocviet.vn/upload/images/khach%20hang%20tieu%20bieu.JPG" width="1331"></p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;"><span style="color:black;"><span style="font-family:times new roman,serif;"><span style="font-size:14.0pt;">Và hơn 5.000 khách hàng đã được Công ty chúng tôi phục vụ trên toàn quốc.</span></span></span></p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>

			<p style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;text-align:justify;line-height:normal;background:white;font-size:14px;">&nbsp;</p>



			<div class="clear"></div>

			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-570467c6b3882b22"></script>
			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<div class="addthis_native_toolbox" data-url="https://www.anlocviet.vn/ve-chung-toi" data-title="Về chúng tôi "><div id="atstbx" class="at-share-tbx-element at-share-tbx-native addthis_default_style addthis_20x20_style addthis-smartlayers addthis-animated at4-show"><a class="addthis_button_facebook_send at_native_button at300b"><div class="fb-send" data-href="https://www.anlocviet.vn/ve-chung-toi" data-type="box_count" style="height: 25px;"></div></a><a class="addthis_button_facebook_share at_native_button at300b" fb:share:layout="button_count"><div class="fb-share-button fb_iframe_widget" data-layout="button_count" data-href="https://www.anlocviet.vn/ve-chung-toi" style="height: 25px;" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=629584947171673&amp;container_width=83&amp;href=https%3A%2F%2Fwww.anlocviet.vn%2Fve-chung-toi&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 83px; height: 20px;"><iframe name="f1f81d28a06df8c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/share_button.php?app_id=629584947171673&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df375f4b5770233c%26domain%3Dwww.anlocviet.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.anlocviet.vn%252Ff396b8d7d4d14ec%26relation%3Dparent.parent&amp;container_width=83&amp;href=https%3A%2F%2Fwww.anlocviet.vn%2Fve-chung-toi&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 83px; height: 20px;" class=""></iframe></span></div></a><a class="addthis_button_facebook_like at_native_button at300b" fb:like:layout="button_count"><div class="fb-like fb_iframe_widget" data-layout="button_count" data-show_faces="false" data-share="false" data-action="like" data-width="90" data-height="25" data-font="arial" data-href="https://www.anlocviet.vn/ve-chung-toi" data-send="false" style="height: 25px;" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=629584947171673&amp;container_width=90&amp;font=arial&amp;height=25&amp;href=https%3A%2F%2Fwww.anlocviet.vn%2Fve-chung-toi&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90"><span style="vertical-align: bottom; width: 90px; height: 28px;"><iframe name="f3b4776517353dc" width="90px" height="25px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=629584947171673&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfc7f04c94312f8%26domain%3Dwww.anlocviet.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.anlocviet.vn%252Ff396b8d7d4d14ec%26relation%3Dparent.parent&amp;container_width=90&amp;font=arial&amp;height=25&amp;href=https%3A%2F%2Fwww.anlocviet.vn%2Fve-chung-toi&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90" style="border: none; visibility: visible; width: 90px; height: 28px;" class=""></iframe></span></div></a><a class="addthis_button_tweet at_native_button at300b"><div class="tweet_iframe_widget" style="width: 62px; height: 25px;"><span><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 73px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.21f942bb866c2823339b839747a0c50c.vi.html#dnt=false&amp;id=twitter-widget-0&amp;lang=vi&amp;original_referer=https%3A%2F%2Fwww.anlocviet.vn%2Fve-chung-toi&amp;size=m&amp;text=V%E1%BB%81%20ch%C3%BAng%20t%C3%B4i%20&amp;time=1639278997317&amp;type=share&amp;url=https%3A%2F%2Fwww.anlocviet.vn%2Fve-chung-toi%23.YbVplKFFvI4.twitter" data-url="https://www.anlocviet.vn/ve-chung-toi#.YbVplKFFvI4.twitter"></iframe></span></div></a><a class="addthis_button_pinterest_pinit at300b" pi:pinit:layout="horizontal" pi:pinit:url="https://www.anlocviet.vn/ve-chung-toi"><div class="pin_it_iframe_widget" style="height: 25px;"><span><span class="PIN_1639278996422_button_pin PIN_1639278996422_save" data-pin-log="button_pinit_bookmarklet" data-pin-href="https://www.pinterest.com/pin/create/button/">Lưu</span></span></div></a><a class="addthis_button_google_plusone at_native_button"></a><a class="addthis_counter addthis_pill_style at_native_button addthis_nonzero" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact">Chia sẻ<span></span></a><a class="addthis_button_expanded" target="_blank" title="Thêm..." href="#">2</a></a><div class="atclear"></div></div></div>


		</div>


	</div>
</div>