
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}
<div class="login-form">
	<div class="container">
		<h1>LIÊN HỆ</h1>
		<div class="row g-2 border-bottom-0">
			<div class="col-12 col-md-6">
				<h3>An Lộc Việt</h3>
				<ul class="ps-3">
					<li>
						<i class="bx bx-location-plus"> </i>
						9 <sup>3</sup>&frasl;<sub>4</sub> Cầu Giấy, Hà Nội
					</li>
					<li>
						<i class="bx bx-phone"> </i>
						0393417020
					</li>
					<li>
						<i class="bx bx-mail-send"> </i>
						ngochung1762@gmail.com
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-6">
				<form action="#" method="POST" id="mail-form">
					<div class="mb-3">
						<label for="fullName" class="form-label">Họ và tên</label>
						<input type="text"
									 class="form-control"
									 placeholder="Họ và tên..."
									 name="fullName"
									 id="fullName"
									 required />
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email"
									 class="form-control"
									 placeholder="Email..."
									 name="email"
									 id="email"
									 required />
					</div>
					<div class="mb-3">
						<label for="fullName" class="form-label">Nội dung</label>
						<textarea name="content"
											id="content"
											class="form-control"
											required></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Gửi đi</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
    var form = document.querySelector("#mail-form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        var name = document.querySelector("#fullName").value;
        var email = document.querySelector("#email").value;
        var content = document.querySelector("#content").value;
        window.open(`mailto:${email}&subject=${name}&body=${content}`);
    });
</script>